.unfocusable:focus {
    outline: none;
}

.app-bar-flex-fix {
    display: flex !important;
}

.leaflet-popup-content-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.leaflet-popup-content {
    margin: 0 !important;
    padding: 0 !important;
}