.leaflet-exhibition-icon {
    position: relative;
    width: 64px;
    height: 64px;
}

.leaflet-exhibition-icon .marker-bg {
    position: absolute;
    top:6px;
    left: 14px;
    background-color: white;
    width: 1px;
    height: 1px;
    border: 18px solid white;
    border-radius: 30px;
}
.leaflet-exhibition-icon .marker {
    position: absolute;
    top:0;
    left: 0;
    width: 64px;
    height: 64px;
    fill: #D80027;
}

.leaflet-exhibition-icon .marker svg {
    filter: drop-shadow(2px 1px 2px #000);
    z-index: -1;
}

.leaflet-exhibition-icon .exhibition {
    left: 17px;
    top: 11px;
    width: 30px;
    height: 30px;
    position: absolute;
}
.leaflet-exhibition-icon .exhibition svg {
    fill: black;
    z-index: -1;
}